<div class="container-fluid bg" >

<br><br><br><br><br><br><br>

  <div class="row"> <!-- Form row -->

    <div class="col-3 mx-auto">

      <h1 class="text-dark" style="text-align:center">Register!</h1>

      <form [formGroup]="registrationForm" (ngSubmit)="onsubmit()">
        <div class="form-group">
          <label class="text-dark" for="username">Username</label>
          <input class="form-control" id="username" placeholder="Inserisci un nome utente" type="text" formControlName="username" required>
        </div>

        <div class="form-group">
          <label class="text-dark" for="password">Password</label>
          <input class="form-control" id="password" placeholder="Inserisci la tua password" type="password" formControlName="password" required>
        </div>

        <div class="form-group">
          <label class="text-dark" for="confirmPassword">Confirm Password</label>
          <input class="form-control" id="confirmPassword" placeholder="Conferma la password" type="password" formControlName="confirmPassword" required>
        </div>

        <div class="form-group">
          <label class="text-dark" for="height">Height</label>
          <input class="form-control" id="height" placeholder="Height in cm" type="text" formControlName="height" required>
        </div>

        <div class="form-group">
          <label class="text-dark" for="weight">Weight</label>
          <input class="form-control" id="weight" placeholder="Weight in kg" type="text" formControlName="weight" required>
        </div>

        <div class = "text-center">
          <button type="submit" class="btn btn-outline-danger">Register</button>
        </div>

      </form>

      <br>

      <p #alreadyRegistered class="text-danger rounded p-2 bg-label-danger" *ngIf="result == 2"><b>Registration failed!</b> Username already registered</p>
      <p #missingValues class="text-danger rounded p-2 bg-label-danger" *ngIf="result == 1"><b>Registration failed!</b> You might complete the entire form</p>

    </div>

  </div>

</div>
