<div class="container-fluid bg" >

<br><br><br><br><br><br><br>

  <div class="row">

    <div class="col-3 mx-auto">

      <h1 class="text-dark" style="text-align:center">Sign in!</h1>

      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label class="text-dark" for="username">Username</label>
          <input class="form-control" id="username" placeholder="Inserisci un nome utente" type="text" formControlName="username" required>
        </div>

        <div class="form-group">
              <label class="text-dark" for="password">Password</label>
              <input #pwd class="form-control" id="password" placeholder="Inserisci la tua password" type="password" formControlName="password" required>
          </div>

          <br>
          <div class = "text-center">
            <button type="submit" class="btn btn-outline-danger">Log in</button>
          </div>
      </form>

     <br>

      <p #wrongUsernameOrPassword class="text-danger rounded p-2 bg-label-danger" *ngIf="result == 1"><b>Log in failed</b> Incorrect Username and/or Password</p>

    </div>


  </div>

</div>
